$clr-primary-100: hsl(207, 57%, 65%);
$clr-primary-200: hsl(207, 57%, 60%);
$clr-primary-300: hsl(207, 57%, 55%);
$clr-primary-400: hsl(207, 57%, 50%);
$clr-primary-500: hsl(207, 57%, 45%);
$clr-primary-600: hsl(207, 57%, 40%);
$clr-primary-700: hsl(207, 57%, 35%);
$clr-primary-800: hsl(207, 57%, 30%);

$clr-light-100: hsl(228, 38%, 100%);
$clr-light-200: hsl(228, 38%, 98%);
$clr-light-300: hsl(228, 38%, 96%);
$clr-light-400: hsl(228, 38%, 94%);
$clr-light-500: hsl(228, 38%, 92%);
$clr-light-600: hsl(228, 38%, 90%);
$clr-light-700: hsl(228, 38%, 88%);
$clr-light-800: hsl(228, 38%, 86%);

$clr-accent-100: hsl(205, 100%, 90%);
$clr-accent-200: hsl(205, 100%, 85%);
$clr-accent-300: hsl(205, 100%, 80%);
$clr-accent-400: hsl(205, 100%, 75%);
$clr-accent-500: hsl(205, 100%, 70%);
$clr-accent-600: hsl(205, 100%, 65%);
$clr-accent-700: hsl(205, 100%, 60%);
$clr-accent-800: hsl(205, 100%, 55%);

$clr-dark-100: hsl(258, 8%, 45%);
$clr-dark-200: hsl(258, 8%, 40%);
$clr-dark-300: hsl(258, 8%, 35%);
$clr-dark-400: hsl(258, 8%, 30%);
$clr-dark-500: hsl(258, 8%, 25%);
$clr-dark-600: hsl(258, 8%, 20%);
$clr-dark-700: hsl(258, 8%, 15%);
$clr-dark-800: hsl(258, 8%, 10%);

$clr-black-100: hsl(0, 0%, 35%);
$clr-black-200: hsl(0, 0%, 30%);
$clr-black-300: hsl(0, 0%, 25%);
$clr-black-400: hsl(0, 0%, 20%);
$clr-black-500: hsl(0, 0%, 15%);
$clr-black-600: hsl(0, 0%, 10%);
$clr-black-700: hsl(0, 0%, 5%);
$clr-black-800: hsl(0, 0%, 0%);

$clr-white-100: hsl(0, 0%, 100%);
$clr-white-200: hsl(0, 0%, 95%);
$clr-white-300: hsl(0, 0%, 90%);
$clr-white-400: hsl(0, 0%, 85%);
$clr-white-500: hsl(0, 0%, 80%);
$clr-white-600: hsl(0, 0%, 75%);
$clr-white-700: hsl(0, 0%, 70%);
$clr-white-800: hsl(0, 0%, 65%);

$clr-correct: hsl(130, 100%, 40%);
$clr-incorrect: hsl(0, 100%, 60%);
$clr-incorrect-light: hsl(0, 90%, 70%);

$clr-correct-opacity: hsla(130, 100%, 40%, 0.4);
$clr-incorrect-opacity: hsla(0, 100%, 60%, 0.4);
$clr-incorrect-light-opacity: hsla(0, 90%, 70%, 0.4);

$clr-text: hsl(0, 0%, 30%);
$clr-box-shadow: hsla(226, 18%, 23%, 0.2);