@use "../../styles.scss" as globals;

.navbar {
	// CSS Custom Properties
	--logo-font-size: 2.25rem;
	--link-font-size: 1.25rem;

	// Position
	position: relative;
	top: 0;
	left: 0;
	right: 0;

	// Spacing
	padding: 1.5rem 4rem;

	// Color
	background-color: globals.$clr-light-100;

	// Flexbox
	display: flex;
	flex-direction: row;
	justify-content: center;

	// &::before {
	// 	content: "";
	// }
}

.navbar .navbar__links {
	// Flexbox
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;

	// Position
	position: relative;
	
	// Font
	font-size: var(--link-font-size);

	> li {
		// Position
		position: relative;

		// Mouse
		&:hover {
			cursor: pointer;

		}
	}

	> li:not(.navbar__logo):not(.active-link):hover {
		&::before {
			content: "";
			position: absolute;
	
			width: 100%;
			height: 0.4rem;
	
			bottom: 0;
			
			background-color: rgba(globals.$clr-primary-400, 0.125);
		}
	}
}



.navbar .navbar__logo {
	// Font
	font-size: var(--logo-font-size);
	text-transform: uppercase;
	font-weight: 900;
	
	// Color
	color: globals.$clr-primary-400;
	
	&:hover {
		cursor: auto;
	}
}

.navbar .navbar__auth {
	// Flexbox
	display: flex;
	flex-direction: row;
	align-items: center;

	position: absolute;
	right: 2rem;

	li {
		isolation: isolate;

		// Position
		position: relative;

		// Display
		display: inline-block;
		
		// Spacing
		padding: 0.5rem 0.75rem;
		
		// Border
		border: 2px solid globals.$clr-primary-400;
		border-radius: 3px;
		
		// Mouse
		&:hover {
			cursor: pointer;

			// Color
			color: white;

			&::before {
				animation: slide 200ms 1;

				// Sizing
				width: 100%;

				z-index: 0;

				content: "Sign In";
			}
		}

		// Font
		font-size: var(--link-font-size);

		&::before {
			white-space: nowrap;
			content: "";

			// Flexbox
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			// Position
			position: absolute;	
			inset: 0;

			// Sizing
			width: 0%;

			z-index: 0;

			
			background-color: globals.$clr-primary-400;
		}
	}
}

.navbar .active-link {
	position: relative;

	&::before {
		content: "";
		position: absolute;

		width: 100%;
		height: 0.4rem;

		bottom: 0;
		
		background-color: rgba(globals.$clr-primary-400, 0.5);
	}
}

@keyframes slide {
	from {
		content: "";
		width: 0%;
		transform: scale(1);
	}
	to {
		width: 100%;
		content: "Sign In";
		transform: scale(1.125);
	}
}

@include globals.media-laptop {
	.navbar .navbar__links {
		gap: 4rem;
	}
}

@include globals.media-tablet {
	.navbar .navbar__links {
		gap: 3rem;
	}
}