<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form__question__choices">
		<textarea class="form__question--question" type="text" formControlName="question" placeholder="Your Question Here" #formQuestion (input)="onInput(formQuestion)">
		
		</textarea>
		<div formGroupName="choices">
			<div
				(click)="onAnswerSelect(i)"
				class="form__question__choices__choice"
				*ngFor="let choice of [].constructor(4); let isLast = last; let i = index"
				[class.show-border-bottom-color]="isLast"
				>
				<input class="form__question__choices__choice" type="text" [formControlName]="i" [id]="'checkbox-' + i" [placeholder]="'Answer ' + (i + 1)">
				<input class="form__question__choices__choice__checkbox" type="checkbox" [id]="'checkbox-' + i">
			</div>
		</div>
		<textarea class="form__question--explaination" type="text" formControlName="explaination" placeholder="Your Explaination Here" #formExplaination (input)="onInput(formExplaination)">
		
		</textarea>
	</div>
	<div class="button__group">
		<button type="submit" [disabled]="form.invalid">Submit</button>
		<button type="reset" (click)="onReset(formQuestion, formExplaination)">Clear</button>
	</div>
</form>

