<div class="auth-card">
	<form class="auth-card__form" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="auth-card__form__input auth-card__form__input--email">
			<label for="email">Email</label>
			<input type="email" id="email" formControlName="email" placeholder="Email">
		</div>		
		<div class="auth-card__form__input auth-card__form__input--password">
			<label for="password">Password</label>
			<input type="password" id="password" formControlName="password" placeholder="Password">
		</div>
		<span class="auth-card__form__error-message" *ngIf="message">
			{{ message }}
		</span>
		<div class="auth-card__form__button-group" [style.marginTop]="message ? '0rem' : '0.75rem'">
			<button 
				type="submit"
				[disabled]="form.invalid">
				Submit
			</button>
			<button
				type="button"
				[routerLink]="['/auth', 'sign-up']"
				*ngIf="mode === 'sign-in'">
				Sign Up
			</button>
			<button
				type="button"
				[routerLink]="['/auth', 'sign-in']"
				*ngIf="mode === 'sign-up'">
				Sign In
			</button>
		</div>
	</form>
	<div class="auth-card__state-color"></div>
</div>
<button (click)="signInWithGooglePopup()">Log In</button>
<button (click)="signOut()">Sign Out</button>
